<%- include ('layouts/header') %>
<h4 style="color:red;"><i>The excel sheet should contain matron name,matron mail,hostel as three columns</i></h4>
<form action="/admin/upload-matron-details" method="post" enctype="multipart/form-data">
    <input
      type="file"
      name="sFile"
      id=""
      required
      accept=".xlsx"
    />
    <input type="submit" value="Upload" />
</form>
<%- include ('layouts/footer') %>
